<template>
<draggable class="position">

    <block block_title="КОЛИЧЕСТВО ПОСЕТИТЕЛЕЙ" >
        <chart :chartData="chartData"/>
        <total :value="total" />
    </block>

    <block block_title="УНИКАЛЬНЫХ ПОСЕТИТЕЛЕЙ"  >
        <chart :chartData="chartData"/>
        <total :value="total"/>
    </block>

    <block block_title="ДЛИТЕЛЬНОСТЬ СЕССИИ"  >
        <show-session/>
    </block>

    <block block_title="ЗАВЕРШЕННЫЕ ДЕЙСТВИЯ" >
        <completed-action />
    </block>

    <block block_title="ТИП УСТРОЙСТВА (ВИДЖЕТ)" >
        <doughnut />
        <total />
        <total />
    </block>
    
</draggable>
</template>

<style>
.position {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
</style>


<script>
import draggable from 'vuedraggable'
import block from '../Block.vue'
import Chart from '../Chart.vue'
import Total from '../Total.vue'
import ShowSession from '../ShowSession.vue'
import DoughnutChart from '../DoughnutChart.vue'
import CompletedAction from '../CompletedAction.vue'
import functions from '../../functions';
export default {
    name: "summary-data",
    computed: {
        total() {
            let total = 0;
            Object.keys(this.$store.state.ds).forEach(dsName => {
                let initialValue = 0;
                total += this.$store.state.ds[dsName].reduce(function (accumulator, currentValue) {
                    return accumulator + currentValue.y;
                }, initialValue);
            });
            return total;
        },
        chartData() {
            return {
                datasets: Object
                    .keys(this.$store.state.ds)
                    .map(dataName => ({
                        label: dataName,
                        ...functions.getColor(dataName),
                        borderWidth: 1,
                        data: this.$store.state.ds[dataName],
                        pointRadius: 0,
                        pointHoverRadius: 6,
                        hitRadius: 2,

                    })),
            };
        }
    },
    components: {
        'chart': Chart,
        'block': block,
        'total': Total,
        'show-session': ShowSession,
        'doughnut': DoughnutChart,
        'completed-action': CompletedAction,
        draggable,
    },
}
</script>
