<template>
<div>
<big-chart-block>
    <chart :chartData="chartData"/>
</big-chart-block>
<list list_title="Количество посетителей" table_title="ВИЗИТЫ"/>
</div>
</template>
<style>

</style>

<script>
import Chart from '../Chart.vue'
import BigChartBlock from '../BigChartBlock.vue'
import List from '../List.vue'
import functions from '../../functions';
export default {
    name: "visitors-data",
        computed: {
        chartData() {
            return {
                datasets: Object
                    .keys(this.$store.state.ds)
                    .map(dataName => ({
                        label: dataName,
                        ...functions.getColor(dataName),
                        borderWidth: 1,
                        data: this.$store.state.ds[dataName],
                        pointRadius: 0,
                        pointHoverRadius: 6,
                        hitRadius: 2,

                    })),
            };
        }
    },
    components: {
        'chart': Chart,
        'big-chart-block': BigChartBlock,
        'list': List
    }
}
</script>
