<template>
<div class="wrapper">
    <div class="title">
    <h1 class="title__word">METRICS</h1>
        <p class="logo__name">
            <svg height="4.3em" width="1.06em">
                <line x1="0" y1="0" x2="0" y2="100" style="stroke:rgba(255, 255, 255, .5);;stroke-width:5" />
            </svg>
            <svg height="2em" width="1.06em">
                <line x1="0" y1="0" x2="0" y2="100" style="stroke:rgba(255, 255, 255, .5);;stroke-width:4" />
            </svg>
            <svg height="3em" width="1em">
                <line x1="0" y1="0" x2="0" y2="100" style="stroke:rgba(255, 255, 255, .5);;stroke-width:5" />
            </svg>
            <svg height="1.2em" width="1em">
                <line x1="0" y1="0" x2="0" y2="100" style="stroke:rgba(255, 255, 255, .5);;stroke-width:4" />
            </svg>
            <svg height="2.4em" width=".5em">
                <line x1="0" y1="0" x2="0" y2="100" style="stroke:rgba(255, 255, 255, .5);;stroke-width:5" />
            </svg>appvelox</p>
    </div>
    <form class="access">
        <input class="access__input" v-model="login" type="text" placeholder="ЛОГИН"  />
            <br />
        <input class="access__input access__input--position" v-model="password" type="text" placeholder="ПАРОЛЬ" />
            <div class="access__warning">
              <span v-if="$store.state.badPassword">Неверный логин/пароль</span>
              </div>
        <input class="access__btn" @click="$store.dispatch('checkSuccess', {login, password})" type="button" value="ВОЙТИ" >
    </form>
<canvas class="chart"></canvas>
<div style="display:none;">
  <img id="pink" src="../assets/Pink.png"
       width="50" height="50">
</div>
<div style="display:none;">
  <img id="green" src="../assets/green.png"
       width="50" height="50">
</div>
</div>
</template>

<style>
@font-face {
  font-family: displayed;
  src: url(../assets/12266.ttf);
}
@font-face {
  font-family: gotham-thin;
  src: url(../assets/12114.ttf);
}

.wrapper {
  position: relative;
  text-align: center;
  background: linear-gradient(
    to top left,
    rgb(41, 134, 228),
    rgba(90, 189, 249, 1)
  );
  color: rgba(255, 255, 255, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  display: inline-block;
  margin-top: 7em;
}

.title__word {
  font-family: displayed, sans-serif;
  font-size: 3.7em;
  margin: 0;
  font-weight: normal;
}

.logo__name {
  margin: 0;
  margin-top: -3.3em;
  font-size: 1em;
  text-align: left;
  font-family: gotham-thin, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  -ms-overflow: hidden;
  -moz-overflow: hidden;
  overflow: hidden;
}

.access {
  margin-top: 5em;
  position: relative;
  z-index: 2;
}

.access__input {
  margin-bottom: 2.4em;
  padding-left: 1em;
  width: 26em;
  height: 3em;
  border: 0.1em solid rgba(49, 144, 241, 1);
  border-radius: 0.3em;
  background-color: rgba(49, 144, 241, 1);
  color: rgba(255, 255, 255, 1);
}

.access__input--position {
  margin: 0;
}

input:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
} /* FF 4-18 */

input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */

input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */

input:focus:-ms-input-placeholder {
  color: transparent;
}

.access__warning {
  margin: .5em 0 .5em 0;
  font-family: gotham-thin, sans-serif;
  color: red;
  height: 3em;
}

.access__btn {
  width: 14em;
  height: 3.6em;
  border: 0.2em solid rgba(255, 64, 129, 1);
  border-radius: 6em;
  background-color: rgba(255, 64, 129, 1);
  color: rgba(255, 255, 255, 1);
}

.access__btn:hover {
  border: 0.2em solid rgba(255, 114, 162, 1);
}

.chart {
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 100%;
}
</style>

<script>
import Chart from "chart.js";
export default {
  name: "access",
  mounted: function() {
    const ctx = document.querySelector(".chart"); // eslint-disable-line
    let pink = document.getElementById("pink");
    let green = document.getElementById("green");
    const myChart = new Chart(ctx, { // eslint-disable-line
      type: "line",
      data: {
        labels: [0, 0.2, 0.8, 1.3, 1.6, 1.8, 2.1, 2.3, 2.5, 2.8, 3.3],
        datasets: [
          {
            label: "",
            data: [0.6, 0.7, 0.3, 0.8, 0.65, 0.6, 0.25, 0.4, 0.27, 0.8, 0.3, 3],
            backgroundColor: ["rgba(255, 64, 129, 0.1)"],
            pointRadius: 0,
            pointStyle: ["", "", "", pink, "", "", "", green],
            borderColor: ["rgba(255, 64, 129, 0)"],
            borderWidth: 1
          },
          {
            data: [0, 0, 0, 0.8, 0, 0, 0, 0.4, 0, 0, 0, 0],
            type: "bar",
            backgroundColor: "rgba(255, 255, 255, .5)"
          }
        ]
      },
      options: {
        animation: {
          duration: 2000 // general animation time
        },
        tooltips: {
          enabled: false
        },
        hover: {
          mode: null
        },
        title: {
          display: false
        },
        legend: {
          display: false
        },
        layout: {
          padding: {
            left: -10,
            right: -10,
            top: -10,
            bottom: -10
          }
        },
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                display: false
              },
              gridLines: {
                display: false
              }
            }
          ],
          xAxes: [
            {
              barPercentage: 0,
              categoryPercentage: 0,
              barThickness: 1,
              ticks: {
                display: false
              },
              gridLines: {
                display: false
              }
            }
          ]
        }
      }
    });
  },
  data() {
    return {
      login: 'demo',
      password: 'demo',
    }
  },
  beforeMount() {
      if(this.$store.state.isAutorizate){
      this.$router.push("/home");
    }
  },
};
</script>
