<template>
  <div class="app">
    <router-view></router-view>
    <div class="hidden">{{$store.state.isAutorizate}}</div>
  </div>
</template>

<script>
 
export default {
  name: 'app',
  beforeUpdate(){
    this.chech();
  },

  beforeMount() {
    this.chech();
  },
  methods: {
    chech() {
        if(this.$store.state.isAutorizate){
          if(this.$router.currentRoute.path === '' || this.$router.currentRoute.path === '/login'){
            this.$router.push('/home');
          }
        }else {
          this.$router.push('/login');
        }
    }
  }
}
</script>

<style>
.app {
  width: 100%;
  height: 100%;
}
</style>
