<template>
    <div class="big-chart">
        <div class="big-chart__wrapper">
            <slot></slot>
        </div>
    </div>
</template>

<style>

.big-chart {
    width: 100%;
    display: flex;
    justify-content: center;
}
.big-chart__wrapper {
    width: 90%
}
</style>

<script>
export default {
    name: 'big-chart-block'
}
</script>
