<template>
    <div class="block">
    <p class="block__title">{{block_title}}
        <button class="block__Btn"></button>
    </p>
    <slot></slot>
    </div>
</template>

<style>

    .block {
    width: 440px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .2);
    margin: 10px 10px 40px 10px;
}

.block__title {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-align: left;
    padding: 0 20px 20px;
    font-size: 14px;
    color: rgba(161, 173, 188, 1);
}
.block__Btn {
    cursor: move;
    background-image: url(../assets/drop.png);
    background-size: cover;
    background-color: transparent;
    border: 0;
    outline: none;
    float: right;
    width: 20px;
    height: 20px;
}

</style>

<script>
export default {
    name: 'block',
    props: ['block_title']
}
</script>
