<template>
<div class="canvas-padding">
    <canvas ref="canvas" class="mainChart"></canvas>
</div>
</template>

<style>
.canvas-padding {
    min-width: 200px;
    display: flex;
    justify-content: center;
}
</style>

<script>
import { Line, mixins } from 'vue-chartjs' // eslint-disable-line


export default {
    name: 'chart',
    extends: Line,
    mixins: [mixins.reactiveProp],    
    mounted() {
    this.renderChart(this.chartData, 
    {
    hover: {
        mode: 'nearest',
        intersect: false
    },
    tooltips: {
        mode: 'nearest',
        intersect: false
    },
    animation: {
        duration: 2000,
        
    },
    legend: {
        display: false
    },
    
    layout: {
          padding: {
            left: 0,
            right: 0,
            top: 10,
            bottom: 0
          }
          },
                      scales: {
            xAxes: [{
                type: 'time',
                distribution: 'series'
            }],
                    yAxes: [
        {
            ticks: {
                beginAtZero: true,
                display: true
            },
            gridLines: {
                display: false
            }
        }
        ],
        },
    })
    }
}
</script>


