<template>
    <div class="checkbox">
    <label class="checkbox__label">
        <input
            class="checkbox__native"
            type="checkbox"
            v-bind:name="checkbox_name"
            v-bind:checked="value"
            v-on:input="$emit('input', $event.target.checked)"
        />
        <span class="checkbox__custom"></span>
        {{label}}
    </label>
    </div>
</template>

<style>
.checkbox {
    display: inline-block;
    margin-right: 40px; 
}
.checkbox__label {
    font-weight: bold;
    color: rgba(161, 173, 188, 1);
    cursor: pointer;
}

.checkbox__native {
	display: none;
}

.checkbox__custom {    
    position: relative; 
    margin-right: 14px;
    display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	border: 2px solid #ccc;
	border-radius: 3px;
}

.checkbox__native:checked + .checkbox__custom::before {
    position: absolute;
    width: 18px;
    height: 18px;
    content: "";
    background-image: url(../assets/check.png);
    background-size: cover;
    background-color: rgba(2, 148, 255, 1);
    border-radius: 3px;
    box-shadow: 0 0 2px 3px rgba(2, 148, 255, 1);
}

</style> 

<script>
export default {
    name: 'checkbox',
    props: ['checkbox_name', 'label', 'value'],
}
</script>
