<template>
    <div>
        <div class="action">
        <p class="action__title">Итого</p>
            <div>
                <div class="action__data">48%</div>
                <div class="action__percent">+12%
                    <img src="" alt="" />
                </div>
            </div>
    </div>
    </div>
</template>
<style>
.action {
    padding: 0 20px 20px;
}

.action__title {
    font-size: 20px;
}
.action__data {
    display: inline-block;
    font-size: 24px;
}

.action__percent {
    float: right;
    font-size: 14px;
    color: rgba(116, 215, 8, 1);
}

</style>

<script>

export default {
    name: 'completed-action'
}

</script>

    
