<template>
    <canvas ref="canvas" class="mainChart"></canvas>
</template>

<style>

</style>

<script>
import { Doughnut, mixins } from 'vue-chartjs' // eslint-disable-line
export default {
    name: 'doughnutChart',
    extends: Doughnut,
    // mixins: [mixins.reactiveProp],
    // props: ['data', 'options'],        
    mounted() {
        // Переопределение базового рендер метода с реальными данными.
    this.renderChart({
      labels: ['01', '02'],
      datasets: [
        {
          label: '',
          backgroundColor: ['rgba(255, 64, 129, 1)', 'rgba(41, 134, 228, 1)'],
          data: [58, 42],
          borderWidth: [0, 8],
          borderColor: 'rgba(255, 255, 255, 1)',
          hoverBorderColor: 'rgba(255, 255, 255, 1)',
        },
      ],
    }, 
    {
        cutoutPercentage: 80,
        animation: {
            duration: 2000
        },
        legend: {
            display: false,
        },
    })
    } 
}
</script>
