<template>
    <div class="list">
        <div class="list__wrap">
        <div class="list__title">{{list_title}}</div>
        <div class="list__time">{{range}}</div>
        <table  class="list__table table">
            <thead class="table__head">
            <tr>
                <th class="table__title list__head--position">ПЛАТФОРМА</th>
                <th class="table__title">{{table_title}}</th>
            </tr>
            </thead>
            <tbody class="table__body">
            <tr>
                <td>
                    <checkbox name="widget" label="Виджет" 
                    :value="$store.state.dataSources.widget"
                    v-on:input="$store.dispatch('setDataSourse', {name: 'widget', value:  $event })"/>
                </td>
                <td>{{total.widget}}</td>
            </tr>
            <tr>
                <td>
                    <checkbox name="telegram" label="Телеграмм" 
                    :value="$store.state.dataSources.telegram"
                    v-on:input="$store.dispatch('setDataSourse', {name: 'telegram', value:  $event })" />
                </td>
                <td>{{total.telegram}}</td>
            </tr>
            <tr>
                <td>
                    <checkbox name="facebook" label="Фейсбук" 
                    :value="$store.state.dataSources.facebook"
                    v-on:input="$store.dispatch('setDataSourse', {name: 'facebook', value:  $event })"/>
                </td>
                <td>{{total.facebook}}</td>
            </tr>
            <tr>
                <td>
                    <checkbox name="viber" label="Вайбер" 
                    :value="$store.state.dataSources.viber"
                    v-on:input="$store.dispatch('setDataSourse', {name: 'viber', value:  $event })" />
                </td>
                <td>{{total.viber}}</td>
            </tr>
                        <tr>
                <td>
                    <checkbox name="skype" label="Скайп" 
                    :value="$store.state.dataSources.skype"
                    v-on:input="$store.dispatch('setDataSourse', {name: 'skype', value:  $event })" />
                </td>
                <td>{{total.skype}}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</template>
<style>

.list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 90px;
}

.list__title {
    display: inline-block;
    margin: 30px;
    font-size: 20px;
}
.list__time {
    display: inline-block;
    color: rgba(161, 173, 188, 1);
}
.list__wrap {
    width: 90%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .2);
}
.list__table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    margin-bottom: 40px;
    text-align: left;
    font-size: 14px;
    color: rgba(161, 173, 188, 1);
    
}
.list__head--position {
    width: 84%;
    padding-left: 30px;
}
.table__head {
    padding-bottom: 20px;
    font-weight: normal;
}

.table__title {
    padding-bottom: 30px;
}

.table__body tr:nth-child(odd) {
    background-color: rgba(242, 245, 248, 1);
}
.list__table td:nth-child(2n-1) {
    padding-left: 30px;
}

.table__body tr:hover {
    background-color: rgba(255, 64, 129, .1);
}

.table__body tr {
    border-left: 4px solid;
}
.border_color {
    border-color: blue;
}

.table__body td {
    padding: 14px 0;
}

</style>
<script>
import Checkbox from './Checkbox.vue'
import moment from 'moment';
export default {
    name: 'list',
        computed: {
            range() {
                const { to,  from } = this.$store.state.filter.period;
                let s = '';
                s += moment(new Date(to*1000)).format("MM/DD HH:mm");
                s += ' - ';
                s += moment(new Date(from*1000)).format("MM/DD HH:mm");
                return s;
            },
        total() {
            let total = {
                skype: 0, viber: 0, telegram: 0, facebook: 0, widget: 0
            };
            Object.keys(this.$store.state.ds).forEach(dsName => {
                let initialValue = 0;
                total[dsName]  = this.$store.state.ds[dsName].reduce(function (accumulator, currentValue) {
                    return accumulator + currentValue.y;
                }, initialValue);
            });
            return total;
        },
    },
    props: ['list_title', 'table_title'],
    components: {
        'checkbox': Checkbox
    }
}
</script>
