<template>
<div class="wrapper-dashboard">
    <header class="header">
        <div class="header__left">
            <button class="header__aside-btn" v-on:click="show = !show"></button>
            <router-link to="/home/summary" class="header__title">AppVelox metrics</router-link>
        </div>
        <div class="header__right">
            <button class="header__params header__params--search"></button>
            <button class="header__params header__params--graph"></button>
            <button class="header__params header__params--cloud"></button>
            <button class="header__params header__params--position" @click="$store.dispatch('logout')">Выход</button>
        </div>
    </header>
    <div class="main">
        <aside class="aside" v-if="show">
            <div class="aside__link-wrapper">
            <router-link to="/home/summary" class="aside__router">Сводка</router-link>
            <router-link to="/home/visitors" class="aside__router">Кол-во поситителей</router-link>
            <a to="" class="aside__router aside__route--disabled">Новых поситителей</a> <!--при добавлении пути вместо <a> <router-link> -->
            <router-link to="/home/session" class="aside__router">Длительность сессии</router-link>
            <a to="" class="aside__router aside__route--disabled">Действия</a>
            <a to="/home" class="aside__router aside__route--disabled">Тип устройства</a>
            <div class="aside__indent">
            <a to="/home" class="aside__router aside__route--disabled">Рассылки</a>
            <a to="/home" class="aside__router aside__route--disabled">Диалоги</a>
            <a to="/home" class="aside__router aside__route--disabled">Настройка</a>
            </div>
            </div>
        </aside>
        <main-page-dashboard/>
    </div>
</div>
</template>

<style>

@font-face {
  font-family: roboto;
  src: url(../assets/3966.ttf);
}

.wrapper-dashboard {
    width: 100%;
    font-family: roboto, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-attachment: fixed;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .6);
    background-color: rgba(41, 134, 228, 1);
    padding: 20px 0;
    height: 34px;
}

.header__right {
    margin-right: 4%;
}

.header__left {
    margin-left: 4%;
}

.header__aside-btn {
    background-image: url(../assets/menu.png);
    background-size: cover;
    background-color: transparent;
    border: 0;
    width: 2.4em;
    height: 2.4em;
    padding: 0;
    margin-right: 2em;
    outline: none;
}

.header__aside-btn:focus {
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 1)
}

.header__aside-btn:hover {
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 1)
}

.header__aside-btn:active {
    background-color: rgba(255, 255, 255, .3);
}

.header__title {
    display: inline;
    vertical-align: top;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 1.6em;
    text-decoration: none;
    background-color: transparent !important;
    border: 0 !important;
}

.header__params {
    width: 2.4em;
    height: 2.4em;
    vertical-align: middle;
    border: 0;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    background-size: cover;
    margin-left: 2em;
    font-family: roboto, sans-serif;
}

.header__params--search {
    background-image: url(../assets/search.png);
}

.header__params--graph {
    background-image: url(../assets/graph.png);
}

.header__params--cloud {
    background-image: url(../assets/cloud.png);
}

.header__params--position {
    width: fit-content;
    min-width: 60px;
    margin-left: 4em;
    font-size: 1em;
}

.header__params--position:hover {
    text-shadow: 0 0 2px;
}

.aside {
    padding-top: 20px;
    width: 300px;
    font-size: 16px;
    background-color: rgba(52, 143, 240, 1);
    background-attachment: fixed;
}

.aside__link-wrapper {
    position: sticky;
    top: 114px;
    width: 300px;
}

.aside__route--disabled {
    cursor: no-drop;
}

.aside__router {
    font-weight: 200;
    padding: 10px 0 10px 30px;
    display: block;
    border: 0;
    border-left: 3px solid rgba(18, 134, 228, 0);
    background-color: transparent;
    text-align: left;
    color: rgba(255, 255, 255, .5);
    border-left: 3px solid rgba(52, 143, 240, 1);
    text-decoration: none;
}

.router-link-exact-active {
    background-color: rgba(0, 119, 214, 1);
    border-left: 3px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.aside__router:hover {
    background-color: rgba(18, 134, 228, 1);
    border-left: 3px solid rgba(255, 255, 255, .5);
}

.aside__router:active {
    background-color: rgba(0, 119, 214, 1);
    border-left: 3px solid rgba(255, 255, 255, 1);
}

.aside__indent {
    margin-top: 2em;
}

.main {
   display: flex;
   width: 100%;
   background-color: rgba(242, 245, 248, 1);
   margin-top: 70px;
}

</style>

<script>
import MainPageDashboard from './MainPageDashboard.vue'
export default {
    name: "main-page",
    data(){
           return {
               show: true
           } 
  },
    components: {
        'main-page-dashboard': MainPageDashboard
    },
};
</script>
