<template>
    <section class="section" :class="{full: !show}">
            <div class="section__header">
                <img class="section__img" src="../assets/filter.svg" alt="">
                <button :disabled="$store.state.lockChanges" class="section__btn"
                        :class="{active: $store.state.filter.name === 'today'}"
                        v-on:click="handleToday">
                    Сегодня
                </button>
                <button :disabled="$store.state.lockChanges" class="section__btn"
                        :class="{active: $store.state.filter.name === 'yesterday'}"
                        v-on:click="handleYesterday">
                    Вчера
                </button>
                <button :disabled="$store.state.lockChanges" class="section__btn"
                        :class="{active: $store.state.filter.name === 'week'}"
                        v-on:click="handleWeek">
                    Неделя
                </button>
                <button :disabled="$store.state.lockChanges" class="section__btn"
                        :class="{active: $store.state.filter.name === 'month'}"
                        v-on:click="handleMonth">
                    Месяц
                </button>
                <button 
                    :disabled="$store.state.lockChanges"
                    class="section__btn section__btn--calendar"
                    :class="{active: $store.state.filter.name === 'custom'}"  @click="toggle()"
                >
                    <vue-pikaday v-model="day" :options="pkoptions" v-p-visible="visible"  />
                    Календарь
                </button>
            </div>
            <div class="section__checkbox-wrapper">
                <checkbox
                    name="widget"
                    label="Виджет"
                    :value="$store.state.dataSources.widget"
                    v-on:input="$store.dispatch('setDataSourse', {name: 'widget', value:  $event })"
                />
                <checkbox name="telegram" label="Телеграмм" 
                    :value="$store.state.dataSources.telegram"
                    v-on:input="$store.dispatch('setDataSourse', {name: 'telegram', value:  $event })"
                    />
                <checkbox name="facebook" label="Фейсбук" 
                    :value="$store.state.dataSources.facebook"
                    v-on:input="$store.dispatch('setDataSourse', {name: 'facebook', value:  $event })"/>
                <checkbox name="viber" label="Вайбер" 
                    :value="$store.state.dataSources.viber"
                    v-on:input="$store.dispatch('setDataSourse', {name: 'viber', value:  $event })"/>
            </div>
                <router-view></router-view>
        </section>
</template>

<style>

.section {
    width: calc(100% - 300px);
    font-family: roboto, sans-serif;
    background-color: rgba(242, 245, 248, 1);
}

.full {
    width: 100%;
}

.section__header {
    padding: 1.4em 2.4em;
    background-color: rgba(236, 236, 236, 1);
    
}

.section__img {
    vertical-align: text-top;
}

.section__btn {
    background-color: transparent;
    border: 2px solid rgba(236, 236, 236, 1);
    border-radius: 20px;
    color: rgba(117, 117, 117, 1);
    padding: 6px 30px 6px 30px;
    margin-left: 10px;
    font-family: roboto, sans-serif;
    font-weight: bold;
    outline: none;
}

.section__btn:hover {
    text-shadow: 0 0 1px;
}

.section__btn--calendar {
    background-image: url(../assets/calend.png);
    background-repeat: no-repeat;
    background-position-y: 4px;
    background-position-x: 6px;
}


.section__btn--calendar > input {
    width: 0;
    border: none;
}

.section__checkbox-wrapper {
    display: inline-block;
    margin: 30px 0 40px 40px;

}

.section__btn.active {
    background-color: rgba(107, 125, 234, 1);
    color: rgba(255, 255, 255, 1);
}

</style>
 

<script>

import moment from 'moment'; 
import Checkbox from './Checkbox.vue';
import '@enrian/vue-pikaday';
export default {
    mounted(){
        this.handleYesterday();
    },
    name: "main-page-dashboard",
    components: {
        'checkbox': Checkbox,
    },
    data() {
        return {
        show: '',
        currentFilter: 'today',
        period: {
            from: 0,
            to: 0,
        },
        day: null,
        visible: false,
        pkoptions: {
            onSelect: ([select]) => { // eslint-disable-line
                const someday = moment(select);
                someday.hours(0);
                someday.minutes(0);
                someday.seconds(0);
                const to = someday.unix();
                someday.hours(23);
                someday.minutes(59);
                someday.seconds(59);
                const from = someday.unix();
                this.$store.dispatch('setFilter', {
                        name: 'custom',
                        period:{
                            from, to
                    }
                });
            }
        }
      }
    },
    methods: {
        handleToday() {
            const now = moment();
            const from = now.unix();

            const today = moment();
            
            today.hours(0);
            today.minutes(0);
            const to = today.unix();
            this.$store.dispatch('setFilter', {
                    name: 'today',
                    period:{
                        from, to
                    }
            });
        },
        handleYesterday() {
            const now = moment();  // eslint-disable-line
            const yesterday = moment().subtract(1, 'day');

            yesterday.minutes(59);
            yesterday.hours(23);
            const from = yesterday.unix();

            yesterday.minutes(0);
            yesterday.hours(0);
            const to = yesterday.unix();

            this.$store.dispatch('setFilter', {
                    name: 'yesterday',
                    period:{
                        from, to
                    }
            });
        },
        handleWeek() {
            const now = moment();
            const from = now.unix();

            const week = moment().subtract(7, 'day');
            
            week.hours(23);
            week.minutes(59);
            
            const to = week.unix();
            
            this.$store.dispatch('setFilter', {
                name: 'week',
                    period:{
                        from, to
                    }
            });
        },
        handleMonth() {
            const now = moment();
            const from = now.unix();

            const month = moment().subtract(1, 'month');
            
            month.hours(23);
            month.minutes(59);
            
            const to = month.unix();

            this.$store.dispatch('setFilter', {
                    name: 'month',
                    period:{
                        from, to
                    }
            });
        },
        toggle() {
            this.visible = !this.visible;
        }
    },

};

</script>

