<template>
<div class="show-session">
    <div>
        <p class="show-section__title">Телеграмм</p>
            <div>
                <div class="show-section__count">54 мин.</div>
                <div class="show-secion__perсent">+2%
                    <img src="" alt="" />
                </div>
            </div>
    </div>
        <div>
        <p class="show-section__title">Фейсбук</p>
            <div>
                <div class="show-section__count">1ч. 34мин.</div>
                <div class="show-secion__perсent">+12%
                    <img src="" alt="" />
                </div>
            </div>
    </div>
        <div>
        <p class="show-section__title">Вайбер</p>
            <div>
                <div class="show-section__count">12мин.</div>
                <div class="show-secion__perсent">-0,8%
                    <img src="" alt="" />
                </div>
            </div>
    </div>
</div>
</template>
<style>
.show-session {
    padding: 0 20px 20px;
}

.show-section__title {
    font-size: 20px;
}

.show-section__count {
    display: inline-block;
    font-size: 24px;
}

.show-secion__perсent {
    float: right;
    font-size: 14px;
    color: rgba(208, 2, 27, 1);
}

</style>

<script>
export default {
    name: 'show-session'
}
</script>
