<template>
    <div class="total">
        <div>
            <div class="total__circle"></div>
            <p class="total__word">Итого</p>
        </div>
        <p class="total__sum">{{value}}</p>
    </div>
</template>
<style>
.total {
    display: flex;
    justify-content: space-between;
}

.total__circle{
    width: 16px;
    height: 16px;
    background-color: rgba(255, 64, 129, 1);
    border-radius: 10px;
    display: inline-block;
    margin: 0 20px;
}

.total__word {
    display: inline-block;

}

.total__sum {
    padding-right: 20px;
}
</style>
<script>
export default {
    name: 'total',
    props: ['value']
}
</script>
