
    html {
        height: 100%;
    }

    body {
        min-height: 500px;
        height: 100%;
        margin: 0;
        min-width: 605px;
    }

    .hidden {
        display: none;
    }

@font-face {
  font-family: displayed;
  src: url(/src/assets/12266.ttf);
}
@font-face {
  font-family: gotham-thin;
  src: url(/src/assets/12114.ttf);
}
